@import "mixins";
@import "variables";

@layer components {
  :host {
    top: 0;
    position: sticky;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 4rem;
    gap: 1rem;
    background-color: $zinc-900;
    color: $zinc-200;
  }

  .header-content {
    @include content-container($fullWidth: true);

  }

  .header-title {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.5rem;

    @media (min-width: 320px) {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}
